.mySwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
}

.mySwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 300px;
}

.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .mySwiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .mySwiper .swiper-slide {
    width: 300px;
    height: 200px;
  }
}
